@import "../index.scss";

.control-panel-close-icon {
    position: absolute;
    right: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.25s ease;
    background: url(/common/image/del.svg) center center no-repeat;

    &:hover {
        border-radius: 5px;
        background-color: #087c80;
    }
}

.control-modal-pager-scroll{
    max-height: calc(90% - 20px) !important;
}

.control-modal-title-class {
    background-color: $background;
    padding: 10px !important;
    cursor: move;
    color: #fff;
    font-size: $fontSize;
    font-weight: bold;
}

.control-modal-content-class {
    background-color: $background;
    padding: 10px !important;
    color: #fff;
    border-bottom: solid 1px rgba(19, 181, 177,0.4);
    border-top: solid 1px rgba(19, 181, 177,0.4);
}

.control-modal-action-class {
    display: block;
    text-align: center;
    padding: 10px;
    background: $background;
    align-items: center;
    justify-content: center !important;
    &-disabled {
        padding: 0 !important;
    }

    button {
        color: #fff;
        background: $button-bg;
        border: 1px solid #0c5a75;
        border-radius: 5px;
        padding: 5px 20px;
        margin: 0 15px;
        cursor: pointer;

        &:hover {
            background: #2d7e91;
            transition: all 0.1s ease-in;
        }
    }
}
