{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": "3.0"
        }], 
        ["@babel/preset-react", {}],
        ["@babel/preset-typescript",{"allowNamespaces": true}]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["import", { "libraryName": "antd", "style": true }]
    ]
}