.env-color-pick{
    border: 1px solid #616c74;
    width: 24px;
    height: 24px;
    border-radius: 5px;

}

.env-color-pick-sketch{
    input{
        color: black;
    }
}

.noColor{
    background-color: #929da56e;
}