@import "@/common/css/define.scss";

.tooltip {
    .tooltipTitle {
        position: relative;
        padding-left: 15px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background-color: $iconHighlightColor;
        }

    }

    .tooltipInfo {
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>div:first-child {
            overflow: hidden;
            max-width: 20em;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
    }
}