.container {
    display: flex;
    flex-direction: column;
}

.table {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.btnArea {
    margin-top: 0.5em;
    height: max-content;
}

.btn {
    width: max-content;
}