@import "../common/css/define.scss";

.react-html{
    #popup_cfg{
        height: 100%;
    }    
}

.alarm-popup-config {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 15px 15px;
    position: relative;

    &-switch {
        margin-bottom: 20px;
        span {
            margin-right: 10px;
        }
    }

    &-table {
        .ant-table-wrapper {
            overflow: scroll;
        }
    }

    &-button {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}
