.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.canvas_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.tooltips_holder{
    position: absolute;
    cursor: pointer;
}